.ds-single-item {
  border-radius: 10px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.5px solid black;
}
#ds-item .nav-link-item {
  text-decoration: none;
}
#ds-item .nav-link-item h4:hover {
  color: red;
  transition: all 0.2s ease-in-out;
}
.ds-single-item-image {
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  background-position: center; 
  cursor: pointer;
}
#ds-item .ds-single-item-image:hover {
  opacity: 0.5;
}
.ds-single-item h4 {
  color: #512728;
  font-size: 1.3em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.ds-single-item span {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}