<div class="ds-chat-box" [ngClass]="{'ds-width-250-px': !isOpen, 'ds-width-350-px': isOpen}">
  <div class="ds-open">
    <div class="ds-box-header">
      <a href="#" (click)="openBox()">
        <i class="fa fa-comments-o" *ngIf="!isOpen"></i>
        <b>Chat nội bộ!</b>
      </a>
      <a href="#" class="float-right" *ngIf="isOpen" (click)="closeBox()">
        <i class="fa fa-angle-down shrink_icon"></i>
      </a>
    </div>
    <div class="ds-box" [ngClass]="{'ds-height-230-px': !currentUser, 'ds-height-415-px': currentUser}" *ngIf="isOpen">
      <app-all-sender *ngIf="!roomName" (emitAction)="emitAction($event)"></app-all-sender>
      <app-form-chat-internal *ngIf="roomName" (emitMessage)="emitMessage($event)" [allReceivedMessages]="allReceivedMessages" [roomName]="roomName"></app-form-chat-internal>
    </div>
    <div class="ds-box-footer" *ngIf="isOpen">

    </div>
  </div>
</div>