<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
  <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
  <!-- BEGIN: Aside Menu -->
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true"
    data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
      <li class="m-menu__section">
        <h4 class="m-menu__section-text">
          Management
        </h4>
        <i class="m-menu__section-icon flaticon-more-v3"></i>
      </li>

      <!-- USER CATEGORY FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Category
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Category
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navCategoryList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all categories
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::CATEGORY MENU -->

      <!-- USER ITEM FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Item
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Item
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navItemList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all items
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::ITEM MENU -->

      <!-- USER MATERIAL FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Material
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Material
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navMaterialList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all materials
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::MATERIAL MENU -->

      <!-- USER MATERIAL DAILY REPORT FOR ADMIN ONLY -->
      <li *ngIf="isAdmin || isStore" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Material Daily Report
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Material Daily Report
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navMaterialDailyReportList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all material daily reports
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::MATERIAL DAILY REPORT MENU -->

      <!-- USER ORDER FOR ADMIN ONLY -->
      <li *ngIf="isAdmin || isStore" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Order
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Order
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navOrderList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all orders
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::ORDER MENU -->

      <!-- USER ORDER STATUS FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Order Status
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Order Status
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navOrderStatusList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all order status
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::ORDER STATUS MENU -->

      <!-- USER QUANTITY FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Quantity
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Quantity
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navQuantityList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all quantities
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::QUANTITY MENU -->

      <!-- USER ROLE FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Role
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Role
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navRoleList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all roles
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::ROLE MENU -->

      <!-- USER CATEGORY FOR ADMIN ONLY -->
      <li *ngIf="isStaff || isStore" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Staff
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Staff
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navStaffList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all staffs
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::Staff MENU -->

      <!-- USER STORE FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Store
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Store
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navStoreList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all store
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::STORE MENU -->

      <!-- USER SUPPLY FOR ADMIN ONLY -->
      <li *ngIf="isAdmin || isStore" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Supply
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Supply
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navSupplyList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all supplies
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::SUPPLY MENU -->

      <!-- USER TIMEKEEPING FOR ADMIN ONLY -->
      <li *ngIf="isAdmin || isStore" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Timekeeping
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Timekeeping
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navTimekeepingList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all timekeepings
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::CATEGORY MENU -->

      <!-- USER TIMEKEEPING STATUS FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Timekeeping Status
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Timekeeping Status
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navTimekeepingStatusList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all timekeeping status
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::TIMEKEEPING STATUS MENU -->

      <!-- USER WORKING CALENDER FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="javascript: void(0);" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Working Calender
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Working Calender
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="javascript: void(0);" class="m-menu__link" (click)="navWorkingCalenderList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all working calenders
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::CATEGORY MENU -->

      <!-- USER MENU FOR ADMIN ONLY -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            User
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  User
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navUserCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new user
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navUserList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all users
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::USER MENU -->

      <!-- REQUEST MENU -->
      <li *ngIf="!isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-file"></i>
          <!-- <i class="m-menu__link-icon fa fa-vcard-o"></i> -->
          <span class="m-menu__link-text">
            Request
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Request
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
              *ngIf="isDuLead">
              <a href="#" class="m-menu__link" (click)="navRequestCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new request
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navRequestList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all requests
                </span>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- END::REQUEST MENU -->

      <!-- CV MENU -->
      <li *ngIf="isHrManager || isHrMember" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-profile"></i>
          <span class="m-menu__link-text">
            CV
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  CV
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navCvCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new CV
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navCvList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all CV
                </span>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- END:: CV MENU -->

      <!-- CANDIDATE MENU -->
      <li *ngIf="!isAdmin && !isDuLead && !isDuMember" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-user-add"></i>
          <span class="m-menu__link-text">
            Candidate
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Candidate
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navCandidateCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new candidate
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navCandidateList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all candidates
                </span>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- END::CANDIDATE MENU -->

      <!-- INTERVIEW MENU -->
      <li *ngIf="isHrManager || isHrMember" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-time"></i>
          <span class="m-menu__link-text">
            Interview
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Interview
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
              *ngIf="isHrManager || isHrMember">
              <a href="#" class="m-menu__link" (click)="navInterviewCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new interiew
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navInterviewList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all inteviews
                </span>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <!-- END:: INTERVIEW MENU -->

      <!-- REPORT MENU -->
      <li *ngIf="isHrManager || isHrMember" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-diagram"></i>
          <span class="m-menu__link-text">
            Report
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Report
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navReportList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all reports
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::REPORT MENU -->

      <!-- DEPARTMENT MENU -->
      <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="isAdmin">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-diagram"></i>
          <span class="m-menu__link-text">
            Department
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Department
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navDepartmentCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new department
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navDepartmentList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all departments
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::DEPARTMENT MENU -->

      <!-- POSITION MENU -->
      <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="isDuLead || isHrManager">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon la la-hotel"></i>
          <span class="m-menu__link-text">
            Position
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Position
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navPositionCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new position
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navPositionList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all positions
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::POSITION MENU -->

      <!-- SKILL MENU -->
      <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="isDuLead || isHrManager">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon la la-certificate"></i>
          <span class="m-menu__link-text">
            Skill
          </span>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  Skill
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navSkillCreate()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  Create new skill
                </span>
              </a>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a href="#" class="m-menu__link" (click)="navSkillList()">
                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                  <span></span>
                </i>
                <span class="m-menu__link-text">
                  View all skills
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- END::SKILL MENU -->

      <!-- CONFIGURATION SECTION -->
      <li *ngIf="isAdmin" class="m-menu__section">
        <h4 class="m-menu__section-text">
          Configuration
        </h4>
        <i class="m-menu__section-icon flaticon-more-v3"></i>
      </li>

      <!-- MAIL NOTIFICATION MENU -->
      <li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-bell"></i>
          <span class="m-menu__link-text">
            Mail notification
          </span>
        </a>
      </li>
      <!-- END::MAIL NOTIFICATION MENU -->
      <li class="m-menu__section">
        <h4 class="m-menu__section-text">
          Support
        </h4>
        <i class="m-menu__section-icon flaticon-more-v3"></i>
      </li>
      <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-info"></i>
          <span class="m-menu__link-text">
            FAQ
          </span>
        </a>
        <div class="m-menu__submenu">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true">
              <a href="#" class="m-menu__link">
                <span class="m-menu__link-text">
                  General
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->