<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Staff
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="javascript: void(0);" class="m-nav__link">
              <span class="m-nav__link-text">
                List Staff
              </span>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="javascript: void(0);" class="m-nav__link">
              <span class="m-nav__link-text">
                List
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="row">
      <div class="col-12">
        <div class="m-portlet">
          <div class="m-form__content">
            <div class="m-alert m-alert--icon alert alert-danger" *ngIf="error.isError" role="alert">
              <div class="m-alert__icon">
                <i class="la la-warning"></i>
              </div>
              <div class="m-alert__text">
                {{ error.message }}
              </div>
              <div class="m-alert__close">
                <button type="button" class="close" data-close="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  <span *ngIf="listStaff"> List Staff </span>
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <button _ngcontent-c7="" class="btn btn-success m-btn--icon m-btn--air" type="button" (click)="openModal()">
                <span _ngcontent-c7="">
                  <i _ngcontent-c7="" class="la la-plus"></i>
                  <span _ngcontent-c7="">
                    New Staff
                  </span>
                </span>
              </button>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content">
                <!-- FILTER -->
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-group m-form__group">
                      <div class="input-group">
                        <select class="form-control" [(ngModel)]="params.enabled">
                          <option value="">Select Enabled</option>
                          <option *ngFor="let e of enabled" [value]="e.value">{{ e.view }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3" *ngIf="isAdmin">
                    <div class="form-group m-form__group">
                      <div class="input-group">
                        <select class="form-control" [(ngModel)]="params.storeId">
                          <option value="">Select Store</option>
                          <option *ngFor="let store of listStore" [value]="store?.id">{{ store?.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-group m-form__group">
                      <div class="input-group">
                        <select class="form-control" [(ngModel)]="params.workingCalenderId">
                          <option value="">Select Working Calender</option>
                          <option *ngFor="let workingCalender of listWorkingCalender" [value]="workingCalender?.id">{{ workingCalender?.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="float-right">
                      <button type="button" class="btn btn-info m-btn m-btn--icon" (click)="onFilter()">
                        <span>
                          <i class="la la-filter"></i>
                          <span>
                            Filter
                          </span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- END FILTER -->
                <!-- TABLE -->
                <table class="table table-responsive table-bordered table-hover m-table m-table--head-bg-info">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th sortable-column="name">Name</th>
                      <th sortable-column="picture">Picture</th>
                      <th sortable-column="storeId.name">Store</th>
                      <th sortable-column="dateCreated">Date Created</th>
                      <th sortable-column="dateUpdated">Date Updated</th>
                      <th sortable-column="phone">Phone</th>
                      <th sortable-column="address">Address</th>
                      <th sortable-column="identityCard">Identity Card</th>
                      <th sortable-column="homeTown">Home Town</th>
                      <th sortable-column="salary">Salary</th>
                      <th sortable-column="workingCalenderId">Working Calender</th>
                      <th sortable-column="enabled">Enabled</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!-- END::SHOW MESSAGE -->
                  <tbody *ngIf="listStaff && listStaff?.length > 0">
                    <tr *ngFor="let staff of listStaff; let i = index;">
                      <th scope="row">{{ requestPage.size * requestPage.number + i + 1 }}</th>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.name }}">{{ staff?.name | summary: 20}}</span>
                      </td>
                      <td>
                        <img width="200" [src]="staff?.picture" />
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.storeId.name }}">{{ staff?.storeId.name | summary: 20 }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.dateCreated }}">{{ staff?.dateCreated | date }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.dateUpdated }}">{{ staff?.dateUpdated | date }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.phone }}">{{ staff?.phone }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.address }}">{{ staff?.address }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.identityCard }}">{{ staff?.identityCard }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.homeTown }}">{{ staff?.homeTown }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.salary }}">{{ staff?.salary }}</span>
                      </td>
                      <td>
                        <span placement="top" ngbTooltip="{{ staff?.workingCalenderId.name }}">{{ staff?.workingCalenderId.name }}</span>
                      </td>
                      <td>
                        <span *ngIf="staff?.enabled" style="color: red">Active</span>
                        <span *ngIf="!staff?.enabled" style="color: black">In-Active</span>
                      </td>
                      <td>
                        <i class="la la-edit" (click)="onDetail(staff)" placement="top" ngbTooltip="View detail">
                        </i>
                        <i class="la la-magic" (click)="onEnabledOrNot(staff?.id)" placement="top" ngbTooltip="Enabled or Disabled">
                        </i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- END::TABLE -->

                <!-- PAGINATION -->
                <div class="row align-items-end" *ngIf="requestPage?.totalElements > 0">
                  <div class="col-12">
                    <div class="float-right">
                      <div aria-label="Next buttons" class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-outline-info" type="button" (click)="first()" [disabled]="requestPage?.first">
                          <i class="la la-angle-double-left"></i>
                        </button>
                        <button class="m-btn btn btn-outline-info no-border-left" type="button" (click)="prev()" [disabled]="requestPage?.first">
                          <i class="la la-angle-left"></i>
                        </button>
                      </div>
                      <div class="pagination__page-number">
                        <p>Page {{ (requestPage?.totalPages === 0)? 0 : requestPage?.number + 1 }} of {{ requestPage?.totalPages
                          }}
                        </p>
                      </div>
                      <div aria-label="Next buttons" class="btn-group btn-group-sm" role="group">
                        <button class="m-btn btn btn-outline-info" type="button" (click)="next()" [disabled]="requestPage?.last">
                          <i class="la la-angle-right"></i>
                        </button>
                        <button class="btn btn-outline-info no-border-left" type="button" (click)="last()" [disabled]="requestPage?.last">
                          <i class="la la-angle-double-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END::PAGINATION -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Create new Staff
        </h5>
      </div>
      <div class="modal-body">
        <app-staff-create [listStore]="listStore" [listWorkingCalender]="listWorkingCalender" (submitted)="staffSubmitted($event)"></app-staff-create>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Done
        </button>
      </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Update Staff
        </h5>
      </div>
      <div class="modal-body">
        <app-staff-detail [oldStaff]="oldStaff" [listStore]="listStore" [listWorkingCalender]="listWorkingCalender" (submitted)="staffUpdated($event)"></app-staff-detail>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Done
        </button>
      </div> -->
    </div>
  </div>
</div>