<form [formGroup]="formChatUser" (ngSubmit)="setChatUser()">
  <div class="ds-form-group">
    <div class="input-group">
      <input type="text" class="m-input ds-input" formControlName="name" maxlength="20" placeholder="Enter your's name">
      <div class="error-no-padding" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.hasError('required') || name.hasError('notEmpty')">
          Name is required.
        </div>
      </div>
    </div>
  </div>
  <div class="ds-form-group">
    <div class="input-group">
      <input type="text" class="m-input ds-input" OnlyNumber formControlName="phone" maxlength="20" placeholder="Enter your's phone">
      <div class="error-no-padding" *ngIf="phone.touched && phone.invalid">
        <div *ngIf="phone.hasError('required') || phone.hasError('notEmpty') || phone.hasError('mustPhoneNumber')">
          Phone is required.
        </div>
      </div>
    </div>
  </div>
  <div class="ds-form-group">
    <b>Chat bằng Facebook</b>
    <a href="#" style="color: black;" (click)="setChatByFb()">
      <i class="fa fa-facebook-square"></i>
    </a>
  </div>
  <div class="ds-form-group">
    <div style="text-align: center">
      <button type="submit" [disabled]="formChatUser.invalid" class="btn btn-primary">
        Start chatting
      </button>
    </div>
  </div>
</form>
