#show_ggmaps {
  height:300px;
}
agm-map {
  height: 400px;
}
@media only screen and (max-width: 960px) {
	agm-map {
		height: 300px;
		border-radius: 10px;
	}
}
@media only screen and (max-width: 720px) {
	agm-map {
		height: 250px;
		border-radius: 10px;
	}
}
@media only screen and (max-width: 576px) {
	agm-map {
		height: 200px;
		border-radius: 10px;
	}
}