<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Bánh rán Bác Thân</title>
<!-- Bootstrap -->
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
    rel="stylesheet" />
<link href="/css/style.css"
	th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-inverse" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img src="images/BR6.jpg" class="img-thumbnail" style="width:80px;"/></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">

    				<ul th:if="${session.loginedAdmin}" class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/admin/user}">Người dùng</a></li>
                        <li><a th:href="@{/admin/staff}">Nhân viên</a></li>
                        <li><a th:href="@{/admin/income}">Đơn hàng</a></li>
                        <li><a th:href="@{/admin/item}">Mặt hàng</a></li>
                        <li><a th:href="@{/admin/material}">Nguyên liệu</a></li>
                        <li><a th:href="@{/admin/timekeeping}">Chấm công</a></li>
                    </ul>
    				<ul th:if="${session.loginedUser}" class="nav navbar-nav navbar-right">
    					<li><a sec:authentication="name" style="color:white"></a></li>
    					<li><a th:href="@{/logout}">[Đăng xuất]</a></li>
    				</ul>
    			</div>
		</div>
	</nav>
	
	<footer th:fragment="footer">
		<div class="container">
       <div class="row">
       
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <img src="images/BR6.jpg" style="width:200px;"/>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Menu</span>    
                         <li>
                            <a href="#">Home</a>
                          </li>
                               
                          <li>
                             <a href="#">About</a>
                          </li>
                               
                          <li>
                            <a href="#">Blog</a>
                          </li>
                               
                          <li>
                             <a href="#">Gallery </a>
                          </li>
                     </ul>
                </div>
           
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="adress">
                        <span>Contact</span>       
                        <li>
                           <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
                        </li>
                        <li>
                           <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
                        </li> 
                        <li>
                           <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
                        </li> 
                   </ul>
               </div>
           
           
           </div> 
        </div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script 
   			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" 
    		th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script 
    		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    	<script type="text/javascript"></script>
	</footer>
</body>
</html>