<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Đăng nhập')">
</head>
<body>
    <div style="background:#F2E2E2;">
        <nav th:replace="layout :: header('none')"></nav>
        <div class="container">
        
        </div>
        <div class="container" style="background:white;" >
            <div th:if="${session.loginedUser}" class="row" align="center">
                <h2>Bạn đã đăng nhập</h2>
            </div>
            <div th:unless="${session.loginedUser}" class="row form-style">
                <h3 th:if="${param.error}" class="error">Sai mật khẩu hoặc tài khoản</h3>
                <h3 th:if="${param.logout}" class="success">Bạn đã đăng xuất</h3>
                <div class="form-group col-md-6 col-md-offset-3">
                    <form th:action="@{/login}" method="POST">
                        <label><b>Email</b></label>
                        <input type="text" class="form-control" name="userEmail" placeholder="Your email" />
                        <label><b>Mật khẩu</b></label>
                        <input type="password" class="form-control" name="userPassword" placeholder="Your password" />
                        <button type="submit">Đăng nhập</button>
                    </form>
                 </div>
            </div>
            
        </div>
    </div>
    
    <footer th:replace="layout :: footer"></footer>
</body>
</html>