<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head">
</head>
<body>
	<nav th:replace="layout :: header"></nav>
	<div class="container">
		<div class="row">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<div class="panel-title">
					  <h2 align="center">Đặt hàng</h2></div>
				</div>
				<div class="panel-body form-style">
					<div class="col-md-8 col-md-offset-2 form-group">
						<form id="createOrder" th:action="@{/createOrder}" th:object="${orderForm}" method="post">
						    <div class="row">
						         <div class="col-md-5 col-md-offset-0,5">
	       				             <h4><label><b>Tên người mua mua</b></label></h4>
                                      <input type="text" id="nameCreate" class="form-control" th:field="*{nameCreate}" placeholder="Tên người mua" />
                                      <span class="error" id="error-name"></span>
                                      <p th:if="${#fields.hasErrors('nameCreate')}" th:errors="*{nameCreate}"></p>
						         </div>
						         <div class="col-md-5 col-md-offset-1">
                                    <h4><label><b>Số điện thoại</b></label></h4>
                                    <input type="text" id="phoneReceiver" class="form-control" th:field="*{phoneReceiver}" placeholder="Số điện thoại" />
                                    <span class="error" id="error-phone" ></span>
                                    <p th:if="${#fields.hasErrors('phoneReceiver')}" th:errors="*{phoneReceiver}"></p>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="col-md-5 col-md-offset-0,5">
                                    <h4><label><b>Thời gian nhận hàng</b></label></h4>
                                    <div class="input-group date form_datetime">
                							<input class="form-control" id="dateDone1" th:field="*{dateDone}" type="text" placeholder="Thời gian" />
										<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            							</div>
            							<span class="error" id="error-date"></span>
            							<p th:if="${#fields.hasErrors('dateDone')}" th:errors="*{dateDone}"></p>
                                 </div>
                                 <div class="col-md-5 col-md-offset-1">
                                     <h4><label><b>Đến lấy / Giao đi</b></label></h4>            
                                     <select class="form-control" id="isShipping" th:field="*{shipping}">
                                         <option value="0" >Đến lấy</option>
                                         <option value="1" >Giao đi</option>
                                     </select>
                                 </div>
						    </div>

                            <div class="row">
                              <div class="col-xs-3 col-xs-offset-1"><h4><b>Bánh rán </b>
                                 <input type="checkbox" id="br" /></h4></div>
                              <div class="col-xs-3 col-xs-offset-1"><h4><b>Bánh mì </b>
                                 <input type="checkbox" id="bm" /></h4></div>
                              <div class="col-xs-3 col-xs-offset-1"><h4><b>Đồ uống </b>
                                 <input type="checkbox" id="du" /></h4></div>     
                            </div>
                                
                            <div id="show_br" class="row" style="display:none; border:2px solid #cecece;margin:10px auto;" align="center">
                                 <div class="col-md-5 col-md-offset-1 col-xs-6">
                                   <label class="label label-warning">Bánh rán mặn</label><br/>
                                   <input type="text" style="width:80%;" id="brmValue" name="brMan" /><br/>
                                   <label>Đơn giá 5.000đ</label>
                                </div>
                                <div class="col-md-5 col-xs-6">
                                   <label class="label label-warning">Bánh rán ngọt</label><br/>
                                   <input type="text" style="width:80%;" id="brnValue" /><br/>
                                   <label>Đơn giá 5.000đ</label>
                                </div>
                            </div>
                                
                            <div id="show_bm" class="row" style="display:none; border:2px solid #cecece;margin:10px auto;" align="center">
                                <div class="col-md-4" >
                                    <label class="label label-info">Pate Trứng</label><br/>
                                    <input type="text" style="width:80%;" id="bmtValue"/><br/>
                                    <label>Đơn giá 12.000đ</label>
                                </div>
                                <div class="col-md-4" >
                                    <label class="label label-info">Pate Xúc xích</label><br/>
                                    <input type="text" style="width:80%;" id="bmxxValue"/><br/>
                                    <label>Đơn giá 15.000đ</label>
                                </div>
                                <div class="col-md-4" >
                                    <label class="label label-info">Pate Trứng Xúc xích</label><br/>
                                    <input type="text" style="width:80%;" id="bmtxxValue"/><br/>
                                    <label>Đơn giá 18.000đ</label>
                                </div>
                            </div>
                                
                            <div id="show_du" class="row" style="display:none;border:2px solid #cecece;margin:10px auto;" align="center">
                                <div class="col-md-4" >
                                    <label class="label label-info">Coca</label><br/>
                                    <input type="text" style="width:80%;" id="cocaValue"/><br/>
                                    <label>Đơn giá 10.000đ</label>
                                </div>
                                <div class="col-md-4" >
                                    <label class="label label-info">Trà đá</label><br/>
                                    <input type="text" style="width:80%;" id="tradaValue"/><br/>
                                    <label>Đơn giá 3.000đ</label>
                                </div>
                                <div class="col-md-4" >
                                    <label class="label label-info">Mirinda</label><br/>
                                    <input type="text" style="width:80%;" id="mirindaValue"/><br/>
                                    <label>Đơn giá 10.000đ</label>
                                </div>
                            </div>
                                
                            <div id="show_is_shipping" class="row" style="display:none;margin:10px auto;
                                    padding-bottom:10px;border:2px solid #cecece;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="col-xs-6"><h5><label class="label label-success">Địa chỉ giao hàng</label></h5></th>
                                            <th class="col-xs-2"><h5><label class="label label-success">Quãng đường</label></h5></th>
                                            <th class="col-xs-4"><h5><label class="label label-success">Tiền ship</label></h5></th>
                                        </tr>
                                        <tr>
                                            <th class="col-xs-6"><input type="text" class="form-control" id="ggmaps_input" th:field="*{addressShipping}" placeholder="địa chỉ nhận" /></th>
                                            <th class="col-xs-2"><input type="text" class="form-control" id="distance" placeholder="Quãng đường" disabled="disabled"/></th>
                                            <th class="col-xs-4"><input type="text" class="form-control" id="shippingPrice" th:field="*{shippingPrice}" placeholder="Tiền ship" disabled="disabled"/></th>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="show_ggmaps">
                                    
                                </div>
                            </div>
                           
                            <h4 align="center"><label><b>Tổng tiền </b></label>
                            <input type="text" th:field="*{totalPrice}" disabled="disabled"/></h4>
                            <br/>
                            <h3 align="center"><button type="submit" id="submitOrder">Đặt hàng</button></h3>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <footer th:replace="layout :: footer"></footer>
	<script src="/js/order.js" th:src="@{/js/order.js}"></script>
	<script th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyAg44sIHbBu2Ex5DLSvMRFL4SVBr6qDuwM,libraries=places,callback=showGgmaps)}" 
     	async="async" defer="defer"></script>
</body>
</html>