#ds-quantity {
  border: 1px solid black;
  border-radius: 10px;
  /* margin-left: 20px;
  margin-top: 10px; */
}

#ds-quantity p {
  margin: 0;
  text-align: center;
}

#ds-quantity button {
  min-height: 30px;
  font-size: 80%;
  margin: 0 0 20px;
  outline: none;
  border: 1px solid #18a158;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  width: 100%;
  padding: 10px;
  background: #0b8d44;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  font-variant: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  line-height: normal;
}