.display-block {
  display: block;
}

.display-none {
  display: none;
}

#modal-single-item h3, #modal-single-item h4 {
  color: #0b8d44;
  font-family: Open Sans;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0em;
}