#header-search {
  height: 160px;
  line-height: 160px;
}

.one-third {
  margin-right: 20px;
  position: relative;
  float: left;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  .container .one-third {
    width: 300px;
  }
}

.bm-remove {
  margin-bottom: 0 !important;
}

#header-search input {
  border: 0;
  padding: 0;
  color: #050505;
}

input.w-small, select.w-small, textarea.w-small {
  width: 180px;
  outline: none;
}

.inline-block {
  display: inline-block !important;
}

#header #header-logo {
  height: 160px;
  font-family: Open Sans;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  line-height: 160px;
}

.container .one-third {
  /* margin-right: 20px; */
  position: relative;
}

#header #header-logo .image {
  margin-top: 5%;
  display: block;
  color: #000000;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: url(https://res.cloudinary.com/hitkeodog/image/upload/v1533569776/donut-store/banh-ran/BR6.jpg) no-repeat center;
}

#header #header-cart {
  height: 160px;
  text-align: right;
  text-transform: uppercase;
  line-height: 160px;
}
.one-third.last {
  margin-right: 0px;
}