<div class="ds-chat-box" [ngClass]="{'ds-width-250-px': !isOpen, 'ds-width-400-px': isOpen}">
  <div class="ds-open">
    <div class="ds-box-header">
      <a href="#" (click)="openBox()">
        <i class="fa fa-comments-o" *ngIf="!isOpen"></i>
        <b>Chat với chúng tôi!</b>
      </a>
      <a href="#" class="float-right" *ngIf="isOpen" (click)="closeBox()">
        <i class="fa fa-angle-down shrink_icon"></i>
      </a>
    </div>
    <div class="ds-box" [ngClass]="{'ds-height-230-px': !currentUser, 'ds-height-415-px': currentUser}" *ngIf="isOpen">
      <app-form-user *ngIf="!currentUser" (emitAction)="emitAction($event)"></app-form-user>
      <app-form-chat *ngIf="currentUser" (emitMessage)="emitMessage($event)" [allReceivedMessages]="allReceivedMessages" [currentUser]="currentUser"></app-form-chat>
    </div>
    <div class="ds-box-footer" *ngIf="isOpen">

    </div>
  </div>
</div>
