#single-order {
  color: #0b8d44;
  font-family: Open Sans;
  font-weight: 400;
  font-variant: normal;
  letter-spacing: 0em;
  margin-top: 2em;
}

#single-order .title-text {
  font-weight: bold;
  font-size: 1.5em;
}

#single-order .normal-text {
  font-size: 1rem;
  color: black;
  line-height: 30px;
}

#single-order .status {
  width: 85px;
  height: 18px;
  font-size: 12px;
  color: #fff;
  border-radius: 1px;
  padding: 6px 25px;
  line-height: 30px;
}

#single-order .verifying {
  background-image: linear-gradient(105deg, #9ea7fc, #65b6f7);
}

#single-order .accepted {
  background-image: linear-gradient(105deg, #ff9784, #ffb74d);
}

#single-order .in-progress {
  background-image: linear-gradient(105deg, #ff0467, #fc7437);
}

#single-order .completed {
  background-image: linear-gradient(45deg, red, blue);
}

#single-order .cancel {
  background-image: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

#single-order .quantity-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 100%;
  border-radius: 10px;
}

#single-order .product-thumbnail-quantity {
  font-size: 0.85714em;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.15em 0.9em;
  border-radius: 2em;
  background-color: rgba(153, 153, 153, 0.9);
  color: #fff;
  position: absolute;
  right: 0.25em;
  top: -0.75em;
  z-index: 2;
}
#single-order .detail-header {
  background-color: white
}
#single-order .detail-body {
  padding: 1%;
}

#single-order .detail-container {
  background-color: #f2f3f880;
  padding-top: 1%;
  min-height: 195px;
}