#header-management .link-text {
  font-weight: 400;
  font-size: 1.07rem;
  text-transform: initial;
  color: #676c7b;
}
#header-management .active-header {
  background-color: black;
  color: white;
}
