.logo-picture {
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.logo-image {
	height: 36px;
}

.header-cart {
	/* height: 100px; */
	text-align: right;
	text-transform: uppercase;
	/* line-height: 100px; */
}

.header-cart .text-cart {
	color: black;
	text-decoration: none;
}

.header-cart .text-cart:hover {
	color: red;
	transition: all 0.2s ease-in-out;
}

footer {
	background-color: white;
	padding-top: 2em;
	position: relative;
	bottom: 0;
	width: 100%;
}

.logo {
	color: #FFF;
	font-weight: 400;
	font-size: 30px;
}

.adress span, .menu span {
	color: black;
	font-weight: 400;
	/* border-bottom: 1px solid #c7c7c7; */
	padding-bottom: 10px;
	margin-bottom: 20px;
	/* display: block; */
	text-transform: uppercase;
	font-size: 16px;
}

.menu span, #contact-adress {
	border-bottom: 1px solid #c7c7c7;
	display: block;
}

.adress li a, .adress li a span, .adress li p, .adress li p span, .menu li a span {
	color: black;
	text-decoration: none;
	font-size: 12px;
}

.adress li, .menu li {
	margin-top: 5px;
	list-style: none;
}

.adress li a:hover, .menu li a:hover {
	color: #da3e44;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

@media only screen and (max-width: 576px) {
	.adress {
		padding: 0;
	}
}

.fb-messengermessageus-custom {
	position: fixed !important;
	bottom: 0px;
	right: 20px;
	z-index: 999999999999999;
	width: 250px;
	height: auto;
	overflow: hidden;
}