body {
	margin: 0;
	padding: 0;
	color: #050505;
	font-family: Open Sans;
	font-size: 0.8em !important;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.8em;
}

.section-header h1 {
	color: #0b8d44;
	font-family: Open Sans;
	font-size: 2em;
	font-weight: 400;
	font-variant: normal;
	letter-spacing: 0em;
}

.logo-picture {
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.logo-image {
	height: 36px;
}

.header-cart {
	/* height: 100px; */
	text-align: right;
	text-transform: uppercase;
	/* line-height: 100px; */
}

.header-cart .text-cart {
	color: black;
	text-decoration: none;
}

.header-cart .text-cart:hover {
	color: red;
	transition: all 0.2s ease-in-out;
}

footer {
	background-color: white;
	/* padding-top: 2em; */
	position: relative;
	bottom: 0;
	width: 100%;
}

.logo {
	color: #FFF;
	font-weight: 400;
	font-size: 30px;
}

.adress span, .menu span {
	color: black;
	font-weight: 400;
	/* border-bottom: 1px solid #c7c7c7; */
	padding-bottom: 10px;
	margin-bottom: 20px;
	/* display: block; */
	text-transform: uppercase;
	font-size: 16px;
}

.menu span, #contact-adress {
	border-bottom: 1px solid #c7c7c7;
	display: block;
}

.adress li a, .adress li a span, .adress li p, .adress li p span, .menu li a span
	{
	color: black;
	text-decoration: none;
	font-size: 12px;
}

.adress li, .menu li {
	margin-top: 5px;
	list-style: none;
}

.adress li a:hover, .menu li a:hover {
	color: #da3e44;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

@media only screen and (max-width: 576px) {
	.adress {
		padding: 0;
	}
}

.fb-messengermessageus-custom {
	position: fixed !important;
	bottom: 60px;
	/* right: 20px; */
	right: 0px;
	z-index: 999999999999999;
	/* width: 250px; */
	height: auto;
	overflow: hidden;
	border-radius: 50px;
}

.notifications-tr {
	font-family: inherit;
	position: fixed;
	width: 320px;
	padding: 0px 10px 10px;
	z-index: 9998;
	box-sizing: border-box;
	height: auto;
	top: 0px;
	bottom: auto;
	left: auto;
	right: 0px;
}

.notification-success {
	position: relative;
	width: 100%;
	cursor: pointer;
	border-radius: 2px;
	font-size: 13px;
	margin: 10px 0px 0px;
	padding: 10px;
	display: block;
	box-sizing: border-box;
	opacity: 1;
	transition: all 0.3s ease-in-out 0s;
	transform: translate3d(0px, 0px, 0px);
	will-change: transform, opacity;
	border-top: 2px solid rgb(94, 164, 0);
	background-color: rgb(240, 245, 234);
	color: rgb(75, 88, 58);
	box-shadow: rgba(94, 164, 0, 0.9) 0px 0px 1px;
	right: 0px;
	height: 122px;
}

.notification-dismiss {
	cursor: pointer;
	font-family: Arial;
	font-size: 17px;
	position: absolute;
	top: 4px;
	right: 5px;
	line-height: 15px;
	background-color: rgb(176, 202, 146);
	color: rgb(240, 245, 234);
	border-radius: 50%;
	width: 14px;
	height: 14px;
	font-weight: bold;
	text-align: center;
}

.item-go-to-image {
	height: 70px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#go-to-cart-noti {
	font-family: Open Sans;
	font-weight: 400;
}

#go-to-cart-noti .nav-to-cart {
	width: 100%;
	background-color: #0b8d44;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	margin: 5px 0 0 0;
	display: inline-block;
}

.img-circle {
	border-radius: 50%;
	border: solid 3px #e86a00;
	width: 100px;
	max-width: 100%;
	height: 100px;
	text-align: center;
}

.big-icon {
	font-size: 24px;
}