.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* padding-top: 50px; */
  font-family: sans-serif;
}

/* @media only screen and (max-width: 576px) {
  body {
    padding-top: 63px;
    font-family: sans-serif;
  }
} */

.field-required {
  color: red;
  font-size: 0.7em;
  padding-left: 1%;
}

.gg-maps {
  height: 400px;
  border-radius: 10px;
  border: solid beige 1px;
}

.config-input-searchbox {
  left: 0.7em !important;
  z-index: 1000 !important;
  margin-top: 4em !important;
}

@media only screen and (max-width: 960px) {
  .gg-maps {
    height: 300px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .gg-maps {
    height: 250px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .gg-maps {
    height: 200px;
    border-radius: 10px;
  }
  .config-input-searchbox {
    left: 0.7em !important;
    z-index: 1000 !important;
    margin-top: 1em !important;
  }
}

.page-border {
  width: 100%;
  min-height: 100%;
  border: 5px solid #bfbfbf;
}

.border-black {
  border: 1px solid black;
}

.padding-top1 {
  padding-top: 1%;
}