body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ds-main {
  background-image: url(https://res.cloudinary.com/hitkeodog/image/upload/v1533569826/donut-store/main-background.jpg);
  /* background-repeat: no-repeat;
  background-position: center; */
}