body {
  margin: 0;
  padding: 0;
  color: #050505;
  font-family: Open Sans;
  font-size: 0.8em !important;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.8em;
}


/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}