<div class="container ds-all-sender">
  <div class="ds-contacts">
    CONTACTS
    <a href="#" class="float-right" (click)="refresh()">
      <i class="la la-refresh"></i>
    </a>
  </div>
  <ul>
    <li *ngFor="let internalSender of listInternalSender">
      <a href="#" (click)="getSender(internalSender)">
        {{ internalSender?.name }}
      </a>
    </li>
  </ul>
  <div class="ds-contacts">
    CUSTOMERS
  </div>
  <ul>
    <li *ngFor="let notInternalSender of listNotInternalSender">
      <a href="#" (click)="getSender(notInternalSender)">
        {{ notInternalSender?.name }}
      </a>
    </li>
  </ul>
</div>