#check-out {
  flex-direction: column;
  flex: 1 0 auto;
  font-family: Open sans;
}

#check-out .slide-item {
  background-color: beige;
  width: 100%;
  padding-top: 4em;
  position: relative;
  color: #717171;
}

#check-out .buyer-info {
  width: 100%;
  padding-top: 4em;
}

#check-out h4 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
}

#check-out p {
  font-size: 1.28571em;
  font-weight: normal;
  line-height: 1em;
}

@media only screen and (min-width: 768px) {
  #check-out .slide-item {
    float: right;
    width: 45%;
    display: block;
    padding-right: 15%;
    border-right: 1px
  }
  #check-out .buyer-info {
    float: left;
    width: 55%;
    display: block;
    padding-left: 15%;
  }
}

@media only screen and (min-width: 992px) {
  #check-out .slide-item {
    float: right;
    width: 45%;
    display: block;
    padding-right: 20%;
    background-position: left top;
  }
  #check-out .buyer-info {
    float: left;
    width: 55%;
    display: block;
    padding-left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  #check-out .slide-item {
    display: block;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
  #check-out .buyer-info {
    display: block;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}