<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title}"></title>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous" />
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" th:fragment="header(currentPage)">
        <!-- <div class="container">
			<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img src="/images/BR6.jpg" class="img-thumbnail" style="width:80px;"/></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
            		<ul class="nav navbar-nav" >
            			<li th:class="${currentPage == 'order'}? 'active':null"><a th:href="@{/order}" >Đặt hàng</a></li>
      				<li th:class="${currentPage == 'reference'}? 'active':null" ><a th:href="@{/main/reference}">Hướng dẫn</a></li>
      				<li th:class="${currentPage == 'contact'}? 'active':null" ><a th:href="@{/main/contact}" >Liên hệ</a></li>
      				<li><h4 style="margin-top: 17px;margin-left: 90px;color: red;">Since 2001</h4></li>
    				</ul>
    				<ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav navbar-nav navbar-right">
                        <li th:class="${currentPage == order}? 'active':null" ><a th:href="@{/admin}">Admin</a></li>
                    </ul>
    				<ul sec:authorize="hasAnyRole('MEMBER')" class="nav navbar-nav navbar-right">
    					<li><a sec:authentication="name" style="color:white"></a></li>
    					<li><a th:href="@{/logout}">[Đăng xuất]</a></li>
    				</ul>
    				<div th:unless="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}" class="navbar-right">
    					<a class="btn btn-danger navbar-btn" th:href="@{/registry}">Đăng ký</a>
    					<button class="btn btn-info navbar-btn" data-toggle="modal" data-target="#userLogin">Đăng nhập</button>
    				</div>
    			</div>
		</div>
		
		<div id="userLogin" class="modal modal-style fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" align="center"><b>Đăng nhập</b></h4>
					</div>
					<div class="modal-body form-style">
						<form action="#" th:action="@{/login}" method="post">
							<div class="form-group">
								<label><b>Email</b></label>
								<input type="text" class="form-control" name="userEmail" placeholder="" />
								<label><b>Mật khẩu</b></label>
								<input type="password" class="form-control" name="userPassword" placeholder="" />
								<button type="submit">Đăng nhập</button>
							</div>
						</form>
					</div>
				</div>
			</div>		
        </div> -->
        <a class="navbar-brand" href="/">
            <!-- <div class="logo-image" th:style="'background-image:url(' + @{${logo}} + ');'">
        		
        	</div>-->
            <img th:src="@{${logo}}" class="logo-image" alt="brand" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thuc-don">Thực đơn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dat-mon">Đặt món</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lien-he">Liên hệ</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                <a class="mr-sm-2" style="font-size: 2em;" href="https://www.facebook.com/banhranhoan/" target="_blank"><i
                        class="fab fa-facebook-square"></i></a>
                <a class="my-2 my-sm-0" style="font-size: 2em;" href="https://www.instagram.com/banhranhoan/" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </form>
        </div>
    </nav>

    <footer th:fragment="footer">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-sm-12 col-xl-8">
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <img th:src="@{${logo}}" style="width: 100px;" alt="footer-img" />
                        </div>
                        <div class="col-8 col-sm-3">
                            <ul class="menu">
                                <li>
                                    <span>Menu</span>
                                </li>
                                <li>
                                    <a href="/" style="font-size: 14px;">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="/lien-he" style="font-size: 14px;">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <ul class="adress">
                                <li>
                                    <span id="contact-adress">Liên hệ</span>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-phone" aria-hidden="true"></i> <span style="text-transform: lowercase;"
                                            th:text="${hotLine}"></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-map-marker" aria-hidden="true"></i> Cơ sở chính:<span style="text-transform: lowercase;"
                                            th:text="${headquarter}"></span></p>
                                </li>
                                <li>
                                    <p>
                                        <i class="fas fa-envelope" aria-hidden="true"></i> <span style="text-transform: lowercase;"
                                            th:text="${email}"></span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-12 col-md-6 col-xl-4">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbanhranhoan%2F&amp;tabs=timeline&amp;width=340px&amp;height=200px&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=2150713538567990"
                        width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                        allow="encrypted-media" title="home-page"></iframe>
                </div>
            </div>
        </div>
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
        <!-- <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script> -->
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '2150713538567990',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v3.1'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-messengermessageus fb-messengermessageus-custom" messengerappid="2150713538567990" pageid="478740035631679"
            color="blue" size="xlarge"></div>
    </footer>
</body>

</html>