<form [formGroup]="formOrderStatus" (ngSubmit)="onSubmit()">
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Name
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control m-input" formControlName="name" maxlength="255" placeholder="Enter orderStatus's name"
          [(ngModel)]="orderStatusService.getOrderStatus().name" (blur)="validateName()">
        <div class="error-no-padding" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.hasError('required')">
            Name is required.
          </div>
          <div *ngIf="name.hasError('shouldBeUnique')">
            Name should be unique.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12">
      Description
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <textarea type="text" class="form-control m-input" formControlName="description" maxlength="255" [(ngModel)]="orderStatusService.getOrderStatus().description"
          placeholder="Enter orderStatus's description"></textarea>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
    <button type="button" class="btn" data-dismiss="modal">
      Cancel
    </button>
  </div>
</form>