#show_ggmaps {
	width: 100%;
}

.ds-main-img {
	max-width: 250%;
	max-height: 250px;
}

.shipping-price {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	width: 100%;
}

.ds-card-padding {
	padding: 1%;
}

.ds-card-margin {
	/* margin: 1%; */
	text-align: center;
	background-color: white;
	border-radius: 5px;
}

@media only screen and (min-width: 576px) {
	.ds-second-div {
		margin: 0 4.15%;
		padding-bottom: 1em;
		padding-top: 1em;
		border-radius: 10px;
	}
}
