<div class="m-grid m-grid--hor m-grid--root m-page">
    <app-header (emitRoomName)="getRoomName($event)"></app-header>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body main-content">
        <app-aside-nav></app-aside-nav>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <router-outlet></router-outlet>
        </div>
        <app-chat-internal [roomName]="roomName"></app-chat-internal>
    </div>
    <app-footer style="position: relative; bottom:0px;"></app-footer>
</div>