<form [formGroup]="formUser" (ngSubmit)="onSubmit()">
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Email
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <p>{{ userService.getUser().email }}</p>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Picture
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control m-input" formControlName="picture" maxlength="255" placeholder="Enter user's picture">
        <div class="error-no-padding" *ngIf="picture.touched && picture.invalid">
          <div *ngIf="picture.hasError('required') || picture.hasError('notEmpty')">
            Picture is required.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Store
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <select class="form-control m-input" formControlName="storeId">
          <option value="">Old store: {{ userService.getUser().storeId?.name }}</option>
          <option *ngFor="let store of listStore" [ngValue]="store">
            {{ store?.name }}
          </option>
        </select>
        <div class="error-no-padding" *ngIf="storeId.invalid">
          <div *ngIf="storeId.hasError('required')">
            Store is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Role
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <select class="form-control m-input" formControlName="roles">
          <option value="" *ngIf="userService.getUser().roles">Old Role: {{ userService.getUser().roles[0].name}}</option>
          <option *ngFor="let role of listRole" [ngValue]="role">
            {{ role?.name }}
          </option>
        </select>
        <div class="error-no-padding" *ngIf="storeId.invalid">
          <div *ngIf="roles.hasError('required')">
            Role is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
    <button type="button" class="btn" data-dismiss="modal">
      Cancel
    </button>
  </div>
</form>