<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head">
</head>
<body>
	<nav th:replace="layout :: header"></nav>
	<div style="background: #F2E2E2;">
		<div class="container">
			<div class="row">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<div class="panel-title">Đăng ký tài khoản mới</div>
					</div>
					   <div class="panel-body">
					       <div class="col-md-6 col-md-offset-3">
					           <form th:action="@{/create}" th:object="${user}" method="POST">
                                    <table>
                                        <tr>
                                            <td>Họ tên</td>
                                            <td><input type="text" th:field="*{name}" /></td>
                                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Tên ít hơn 45 ký tự</td>
                                        </tr>
                                        <tr>
                                            <td>Tên đăng nhập</td>
                                            <td><input type="text" th:field="*{userName}" /></td>
                                            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>
                                        </tr>
                                        <tr>
                                            <td>Mật khẩu</td>
                                            <td><input type="password" th:field="*{userPassword}" /></td>
                                            <td th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><input type="text" th:field="*{userEmail}" /></td>
                                            <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại</td>
                                            <td><input type="text" th:field="*{userPhoneNumber}" /></td>
                                            <td th:if="${#fields.hasErrors('userPhoneNumber')}" th:errors="*{userPhoneNumber}"></td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ giao hàng</td>
                                            <td><input type="text" th:field="*{userAddress}" /></td>
                                            <td th:if="${#fields.hasErrors('userAddress')}" th:errors="*{userAddress}"></td>
                                        </tr>
                                        <tr>
                                            <td><button type="submit">Submit</button></td>
                                        </tr>
                                    </table>
                                </form>
					       </div>
					   </div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>