#go-to-cart-noti {
  /* background-color: black; */
  /* color: white; */
  font-family: Open Sans;
  font-weight: 400;
}
#go-to-cart-noti .item-go-to-image {
  height: 70px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
#go-to-cart-noti h5 {
  height: 25px;
}

#go-to-cart-noti .nav-to-cart {
  width: 100%;
  background-color: #0b8d44;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0 0 0;
  display: inline-block;
}