<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="admin :: head('Quản lý người dùng')">
</head>
<body>
	<nav th:replace="admin :: header('user')"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3>Quản lý người dùng</h3>
					<h4 th:if="${newPassword}" th:text="${newPassword}"></h4>
					<h4 th:if="${UserValidation}" th:text="${UserValidation}"></h4>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>STT</td>
								<td>Họ Tên</td>
								<td>Email</td>
								<td>Số điện thoại</td>
								<td>Địa chỉ</td>
								<td>Ngày tạo</td>
								<td>Ngày cập nhật</td>
								<td>Ngày order cuối / Thuộc cửa hàng</td>
								<td>Trạng thái</td>
								<td>Quyền</td>
								<td>Reset mk / Sửa quyền</td>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${#lists.isEmpty(users)}" th:each="USER,iterStat : ${users}">
								<td th:text="${iterStat.count}"></td>
								<td th:text="${USER.userName}"></td>
								<td th:text="${USER.userEmail}"></td>
								<td th:text="${USER.userPhoneNumber}"></td>
								<td th:text="${USER.userAddress}"></td>
								<td th:text="${USER.userDateCreated}"></td>
								<td th:text="${USER.userDateUpdated}"></td>
								<td th:if="${USER.userStore != null}" th:text="${USER.userStore}" style="background:yellow"></td>
								<td th:if="${USER.userStore == null}" th:text="${USER.userLastOrderTime}"></td>
								<td th:text="${USER.userStatus}"></td>
								<td th:text="${USER.roles}"></td>
								<td><button th:if="${USER.userStore != null}" data-toggle="modal" data-target="#editUser"
										th:attr="data-email=${USER.userEmail}">Edit Roles And Store</button>
									<a class="btn"
									th:href="@{/admin/resetPassword(userEmail=${USER.userEmail})}">Reset
										Password</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<button class="btn btn-success" data-toggle="modal" data-target="#addStaff">Thêm nhân viên mới</button>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Quản lý nhân viên</h3>
					<h4 th:text="${staffValidatation}" style="color:red"></h4>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td>STT</td>
								<td>Tên nhân viên</td>
								<td>Thuộc cửa hàng</td>
								<td>Ngày vào</td>
								<td>Ngày chỉnh sửa</td>
								<td>SĐT</td>
								<td>Địa chỉ</td>
								<td>Số CMT</td>
								<td>Quê quán</td>
								<td>Lương</td>
								<td>Trạng thái</td>
								<td>Sửa / Xoá</td>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${#lists.isEmpty(staffs)}"
								th:each="STAFF,iterStat : ${staffs}">
								<td th:text="${iterStat.count}"></td>
								<td th:text="${STAFF.staffName}"></td>
								<td th:text="${STAFF.staffStore}"></td>
								<td th:text="${STAFF.staffCreatedTime}"></td>
								<td th:text="${STAFF.staffUpdatedTime}"></td>
								<td th:text="${STAFF.staffPhoneNumber}"></td>
								<td th:text="${STAFF.staffAddress}"></td>
								<td th:text="${STAFF.staffIdentityCard}"></td>
								<td th:text="${STAFF.staffHomeTown}"></td>
								<td th:text="${STAFF.staffSalary}"></td>
								<td th:text="${STAFF.staffStatus}"></td>
								<td>
									<button data-toggle="modal" data-target="#editStaff" th:attr="data-code=${STAFF.staffCode},
									data-name=${STAFF.staffName},data-phonenumber=${STAFF.staffPhoneNumber},data-address=${STAFF.staffAddress},
									data-identitycard=${STAFF.staffIdentityCard},data-hometown=${STAFF.staffHomeTown},data-salary=${STAFF.staffSalary}">Sửa</button>
									<a th:if="${STAFF.staffStatus == true}" th:href="@{/admin/hideStaff(staffCode=${STAFF.staffCode})}">Xoá</a>
									<a th:if="${STAFF.staffStatus == false}" th:href="@{/admin/showStaff(staffCode=${STAFF.staffCode})}">Hiện</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3 th:if="${WrongSyntax}" th:text="${WrongSyntax}"
					style="color: red;"></h3>
				<button class="btn btn-success" data-toggle="modal"
					data-target="#addRole">Thêm quyền mới</button>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Quản lý quyền</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>STT</td>
									<td>Tên Quyền</td>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${#lists.isEmpty(roles)}"
									th:each="ROLE, iterStat : ${roles}">
									<td th:text="${iterStat.count}"></td>
									<td th:text="${ROLE.roleName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<button class="btn btn-success" data-toggle="modal"
					data-target="#addStore">Thêm cửa hàng</button>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Quản lý cửa hàng</h3>
						<h4 th:if="${storeValidation}" th:text="${storeValidation}"></h4>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>STT</td>
									<td>Tên cửa hàng</td>
									<td>Số điện thoại</td>
									<td>Địa chỉ</td>
									<td>Ngày tạo</td>
									<td>Ngày cập nhật</td>
									<td>Các loại nguyên liệu</td>
									<td>Trạng thái</td>
									<td>Sửa / Xoá / Hiện</td>
								</tr>
							</thead>
							<tbody>
								<tr th:unless="${#lists.isEmpty(stores)}"
									th:each="STORE, iterStat : ${stores}">
									<td th:text="${iterStat.count}"></td>
									<td th:text="${STORE.storeName}"></td>
									<td th:text="${STORE.storePhoneNumber}"></td>
									<td th:text="${STORE.storeAddress}"></td>
									<td th:text="${STORE.storeDateCreated}"></td>
									<td th:text="${STORE.storeDateUpdated}"></td>
									<td th:text="${STORE.items}"></td>
									<td th:text="${STORE.storeStatus}"></td>
									<td>
										<button class="btn" data-toggle="modal" data-target="#editStore" th:attr="data-code=${STORE.storeCode},
										data-name=${STORE.storeName}, data-phoneNumber=${STORE.storePhoneNumber}, data-address=${STORE.storeAddress}"><span>Sửa</span></button>
										<a th:if="${STORE.storeStatus == true}" th:href="@{/admin/hideStore(storeCode=${STORE.storeCode})}">Xoá</a>
										<a th:if="${STORE.storeStatus == false}" th:href="@{/admin/showStore(storeCode=${STORE.storeCode})}">Hiện</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="editUser" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Chỉnh sửa quyền</h4>
					</div>
					<div class="modal-body">
						<form id="editUserForm" th:action="@{/admin/editUserRolesStore}" th:object="${userForm}" method="post">
							<label>Email</label>
							<p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></p>
							<input class="form-control" id="user-email" th:field="*{userEmail}"/>
							<label>Các quyền</label>
							<div id="edit_roles">
								
							</div>
							<br/>
							<label>Cửa hàng</label>
							<div>
								<select class="selectpicker" th:unless="${#lists.isEmpty('availableStores')}" th:field="*{storeCode}">
									<option th:each="STORE:${availableStores}" th:text="${STORE.storeName}" th:value="${STORE.storeCode}"></option>
								</select>
							</div>
							<br/><button type="submit">Save changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	<!-- Modal -->
	<div th:if="${role}" id="addRole" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Thêm quyền mới</h4>
				</div>
				<div class="modal-body">
					<form th:action="@{/admin/createRole}" th:object="${role}"
						method="post">
						<label>Tên quyền</label>
						<h3 style="color: red;">Bắt buộc phải có ROLE_ ở đầu</h3>
						<p th:if="${#fields.hasErrors('roleName')}"
							th:errors="*{roleName}"></p>
						<input type="text" class="form-control" th:field="*{roleName}" />
						<button type="submit">Thêm role</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${storeForm}" id="addStore" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Thêm cửa hàng mới</h3>
				</div>
				<div class="modal-body">
					<form id="addStoreForm" th:action="@{/admin/createStore}" th:object="${storeForm}" method="post">
						<label>Tên cửa hàng</label>
						<p th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}"></p>
						<input class="form-control" th:field="*{storeName}"/>
						<label>Số điện thoại</label>
						<p th:if="${#fields.hasErrors('storePhoneNumber')}" th:errors="*{storePhoneNumber}"></p>
						<input class="form-control" th:field="*{storePhoneNumber}"/>
						<label>Địa chỉ</label>
						<p th:if="${#fields.hasErrors('storeAddress')}" th:errors="*{storeAddress}"></p>
						<input class="form-control" th:field="*{storeAddress}"/>
						
						<label>Mặt hàng thuộc cửa hàng</label><br/>
						<button type="button" id="get_remain_items" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Thêm mặt hàng</button>
						<div id="edit_items">
							<select id="select_item1" class="selectpicker" th:unless="${#lists.isEmpty('availableItems')}">
								<option th:each="ITEM:${availableItems}" th:text="${ITEM.itemName}" th:value="${ITEM.itemCode}"></option>
							</select>
							<button type="button" class="btn" id="save_item1" onClick="saveItem(1)"><span class="glyphicon glyphicon-ok"></span></button>
						</div>
						
						<button type="submit">Thêm mới</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${storeForm}" id="editStore" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Sửa cửa hàng</h3>
				</div>
				<div class="modal-body">
					<form id="editStoreForm" th:action="@{/admin/createStore}" th:object="${storeForm}" method="post">
						<input type="hidden" id="store_code" th:field="*{storeCode}"/>
						<label>Tên cửa hàng</label>
						<p th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}"></p>
						<input class="form-control" id="store_name" th:field="*{storeName}"/>
						<label>Số điện thoại</label>
						<p th:if="${#fields.hasErrors('storePhoneNumber')}" th:errors="*{storePhoneNumber}"></p>
						<input class="form-control" id="store_phone_number" th:field="*{storePhoneNumber}"/>
						<label>Địa chỉ</label>
						<p th:if="${#fields.hasErrors('storeAddress')}" th:errors="*{storeAddress}"></p>
						<input class="form-control" id="store_address" th:field="*{storeAddress}"/>
						
						<label>Mặt hàng thuộc cửa hàng</label><br/>
						<button type="button" id="get2_remain_items" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Thêm mặt hàng</button>
						<div id="edit2_items">
							
						</div>
						
						<button type="submit">Sửa</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="staffForm" id="addStaff" class="modal fade" role="dialog">
  		<div class="modal-dialog">
    			<div class="modal-content">
      			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
        				<h3 class="modal-title">Thêm nhân viên mới</h3>
      			</div>
      			<div class="modal-body">
        				<form id="addStaffForm" th:action="@{/admin/createStaff}" th:object="${staffForm}" method="post">
        					<label>Tên nhân viên</label>
        					<p th:if="${#fields.hasErrors('staffName')}" th:errors="${staffName}"></p>
        					<input class="form-control" th:field="*{staffName}"/>
        					<label>Số diện thoại</label>
        					<p th:if="${#fields.hasErrors('staffPhoneNumber')}" th:errors="${staffPhoneNumber}"></p>
        					<input class="form-control" th:field="*{staffPhoneNumber}"/>
        					<label>Địa chỉ Hiện tại</label>
        					<p th:if="${#fields.hasErrors('staffAddress')}" th:errors="${staffAddress}"></p>
        					<input class="form-control" th:field="*{staffAddress}"/>
        					<label>Số chứng minh thư</label>
        					<p th:if="${#fields.hasErrors('staffIdentityCard')}" th:errors="${staffIdentityCard}"></p>
        					<input class="form-control" th:field="*{staffIdentityCard}"/>
        					<label>Quê quán</label>
        					<p th:if="${#fields.hasErrors('staffHomeTown')}" th:errors="${staffHomeTown}"></p>
        					<input class="form-control" th:field="*{staffHomeTown}"/>
        					<label>Lương</label>
        					<p th:if="${#fields.hasErrors('staffSalary')}" th:errors="${staffSalary}"></p>
        					<input class="form-control" th:field="*{staffSalary}"/>
        					<label>Thuộc cửa hàng</label><br/>
        					<p th:if="${#fields.hasErrors('staffSalary')}" th:errors="${staffSalary}"></p>
        					<select class="selectpicker" th:field="*{storeCode}">
        						<option th:each="STORE : ${stores}" th:text="${STORE.storeName}" th:value="${STORE.storeCode}"></option>
        					</select><br/>
        					<button type="submit">Thêm nhân viên</button>
        				</form>
      			</div>
    			</div>
  		</div>
	</div>
	<div th:if="staffForm" id="editStaff" class="modal fade" role="dialog">
  		<div class="modal-dialog">
    			<div class="modal-content">
      			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
        				<h3 class="modal-title">Thêm nhân viên mới</h3>
      			</div>
      			<div class="modal-body">
        				<form id="editStaffForm" th:action="@{/admin/createStaff}" th:object="${staffForm}" method="post">
        					<input type="hidden" id="staff_code" th:field="*{staffCode}" />
        					<label>Tên nhân viên</label>
        					<p th:if="${#fields.hasErrors('staffName')}" th:errors="${staffName}"></p>
        					<input class="form-control" id="staff_name" th:field="*{staffName}"/>
        					<label>Số diện thoại</label>
        					<p th:if="${#fields.hasErrors('staffPhoneNumber')}" th:errors="${staffPhoneNumber}"></p>
        					<input class="form-control" id="staff_phone_number" th:field="*{staffPhoneNumber}"/>
        					<label>Địa chỉ Hiện tại</label>
        					<p th:if="${#fields.hasErrors('staffAddress')}" th:errors="${staffAddress}"></p>
        					<input class="form-control" id="staff_address" th:field="*{staffAddress}"/>
        					<label>Số chứng minh thư</label>
        					<p th:if="${#fields.hasErrors('staffIdentityCard')}" th:errors="${staffIdentityCard}"></p>
        					<input class="form-control" id="staff_identity_card" th:field="*{staffIdentityCard}"/>
        					<label>Quê quán</label>
        					<p th:if="${#fields.hasErrors('staffHomeTown')}" th:errors="${staffHomeTown}"></p>
        					<input class="form-control" id="staff_home_town" th:field="*{staffHomeTown}"/>
        					<label>Lương</label>
        					<p th:if="${#fields.hasErrors('staffSalary')}" th:errors="${staffSalary}"></p>
        					<input class="form-control" id="staff_salary" th:field="*{staffSalary}"/>
        					<label>Thuộc cửa hàng</label><br/>
        					<p th:if="${#fields.hasErrors('storeCode')}" th:errors="${storeCode}"></p>
        					<select class="selectpicker" th:field="*{storeCode}">
        						<option th:each="STORE : ${stores}" th:text="${STORE.storeName}" th:value="${STORE.storeCode}"></option>
        					</select><br/>
        					<button type="submit">Thêm nhân viên</button>
        				</form>
      			</div>
    			</div>
  		</div>
	</div>
	<footer th:replace="admin :: footer"></footer>
	<script th:src="@{/js/user-admin.js}"></script>
</body>
</html>