/* @import '../../../../../styles/design/_variables.scss'; */
#header {
    width: 100%;
    border-bottom: 1px solid #a7a9ac;
    background-color: #fff;
    padding: 0 15px;
}

@media screen and (max-width: 1030px) {
    #header{
        font-size: 120%;
    }
}
/* .centeruppercase {
    text-align: center;
} */
.right {
    text-align: right;
}
/* .logo-header {
    width: 15%;
} */
.paddingFirst:hover {
    cursor: pointer; 
}