<html>
<head>
<title>Chat WebSocket</title>
<script src="./js/sockjs-0.3.4.js"></script>
<script src="./js/stomp.js"></script>
<script type="text/javascript">
	var stompClient = null;

	function setConnected(connected) {
		document.getElementById('connect').disabled = connected;
		document.getElementById('disconnect').disabled = !connected;
		document.getElementById('conversationDiv').style.visibility = connected ? 'visible'
				: 'hidden';
		document.getElementById('response').innerHTML = '';
	}

	function connect() {
		var socket = new SockJS('/chat');
		stompClient = Stomp.over(socket);
		console.log(stompClient)
		stompClient.connect({}, function(frame) {
			setConnected(true);
			console.log('Connected: ' + frame);
			stompClient.subscribe('/topic/messages', function(messageOutput) {
				showMessageOutput(JSON.parse(messageOutput.body));
			});
		});
	}

	function disconnect() {
		if (stompClient != null) {
			stompClient.disconnect();
		}
		setConnected(false);
		console.log("Disconnected");
	}

	function sendMessage() {
		var from = document.getElementById('from').value;
		var text = document.getElementById('text').value;
		stompClient.send("/app/chat", {}, JSON.stringify({
			'from' : from,
			'text' : text
		}));
	}

	function showMessageOutput(messageOutput) {
		var response = document.getElementById('response');
		var p = document.createElement('p');
		p.style.wordWrap = 'break-word';
		p.appendChild(document.createTextNode(messageOutput.from + ": "
				+ messageOutput.text + " (" + messageOutput.time + ")"));
		response.appendChild(p);
	}
</script>
<script>
	function onSubmit(token) {
		alert('thanks ' + document.getElementById('field').value);
	}

	function validate(event) {
		event.preventDefault();
		if (!document.getElementById('field').value) {
			alert("You must add text to the required field");
		} else {
			grecaptcha.execute();
		}
	}

	function onload() {
		var element = document.getElementById('submit');
		element.onclick = validate;
	}
</script>
<script src="https://www.google.com/recaptcha/api.js" async="async"
	defer="defer"></script>
</head>
<body onload="disconnect()">
	<div>
		<div>
			<input type="text" id="from" placeholder="Choose a nickname" />
		</div>
		<br />
		<div>
			<button id="connect" onclick="connect();">Connect</button>
			<button id="disconnect" disabled="disabled" onclick="disconnect();">
				Disconnect</button>
		</div>
		<br />
		<div id="conversationDiv">
			<input type="text" id="text" placeholder="Write a message..." />
			<button id="sendMessage" onclick="sendMessage();">Send</button>
			<p id="response"></p>
		</div>
	</div>
	<form>
		Name: (required) <input id="field" name="field" />
		<div id='recaptcha' class="g-recaptcha"
			data-sitekey="6LdRSWsUAAAAAFhqjYDSvVwAzgM2EN6k8_ADCSE6"
			data-callback="onSubmit" data-size="invisible"></div>
		<button id='submit'>submit</button>
	</form>
	<div class="fb-messengermessageus" messenger_app_id="2150713538567990"
		page_id="478740035631679" data-color="blue" data-size="standard"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId : '2150713538567990',
				autoLogAppEvents : true,
				xfbml : true,
				version : 'v3.1'
			});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
		onload();
	</script>
</body>
</html>