.wrapper {
  background-color: beige;
}

.contain-contact {
  padding: 1% 5% 5% 5%;
  background-color: white;
  align-items: center;
}

.bottom-button {
  align-items: center;
  text-align: center;
  align-content: center;
}

.ggmap-css {
  padding: 1%;
}