#config-management {
  width: 100%;
}

.aside-nav {
  height: 100%;
  /* 100% Full-height */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  min-width: 3em;
}

/* .aside-nav ul {
} */

.aside-nav li {
  padding-left: 1em;
  margin-bottom: 1em;
  margin-left: -20px;
}

.aside-nav a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.aside-nav a:hover {
  opacity: 0.5;
}

.aside-nav .active-aside {
  background-color: chocolate;
  border-radius: 10px;
}

.aside-nav .active-aside a {
  color: white;
}

.config-content {
  background-color: white;
  color: black;
  min-height: 83vh;
}

#config-content {
  padding-left: 3.1em;
}