<form [formGroup]="formMaterial" (ngSubmit)="onSubmit()">
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Name
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control m-input" formControlName="name" maxlength="255" placeholder="Enter material's name" [(ngModel)]="materialService.getMaterial().name"
          (blur)="validateName()" >
        <div class="error-no-padding" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.hasError('required')">
            Name is required.
          </div>
          <div *ngIf="name.hasError('notEmpty')">
            Name is required.
          </div>
          <div *ngIf="name.hasError('shouldBeUnique')">
            Name should be unique.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Picture
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control m-input" formControlName="picture" maxlength="1000" placeholder="Enter material's picutre"
          [(ngModel)]="materialService.getMaterial().picture">
        <div class="error-no-padding" *ngIf="picture.touched && picture.invalid">
          <div *ngIf="picture.hasError('required') || picture.hasError('notEmpty')">
            Picture is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Single Value
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control m-input" formControlName="singleValue" maxlength="5" placeholder="Enter material's single value"
          [(ngModel)]="materialService.getMaterial().singleValue" OnlyNumber>
        <div class="error-no-padding" *ngIf="singleValue.touched && singleValue.invalid">
          <div *ngIf="singleValue.hasError('required') || singleValue.hasError('notEmpty')">
            Single Value is required.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Supply
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <select class="form-control m-input" formControlName="supplyId" [(ngModel)]="materialService.getMaterial().supplyId">
          <option *ngFor="let supply of listSupply" [ngValue]="supply" [selected]="materialService.getMaterial().supplyId?.id === supply?.id">
            {{ supply?.name }}
          </option>
        </select>
        <div class="error-no-padding" *ngIf="supplyId.invalid">
          <div *ngIf="supplyId.hasError('required')">
            Supply is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
    <button type="button" (click)="onCancel()" class="btn" data-dismiss="modal">
      Cancel
    </button>
  </div>
</form>