.bottom-button {
    align-items: center;
    text-align: center;
    align-content: center;
}

.ggmap-css {
    padding: 1%;
}

#section-header h1 {
    color: #0b8d44;
    font-family: Open Sans;
    font-size: 2.5em;
    font-weight: 400;
    font-variant: normal;
    letter-spacing: 0em;
}

#show_ggmaps {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}