.slide-picture {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.header-info {
	padding-top: 5%;
	padding-bottom: 2%;
	font-family: cursive;
}

.single-row-category {
	/* border: 1px solid red; */
	text-align: center;
}

.category-name {
	margin-top: 12%;
	font-family: cursive;
}

.row-item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: stretch;
	list-style: none;
	/* border-radius: 10px; */
	font-family: cursive;
}

.orange-background {
	/* background-color: orange; */
}

.bisque-background {
	/* background-color: bisque; */
}

.single-item {
	display: inline-block;
	flex: auto;
	position: relative;
	text-align: center;
	padding-bottom: 15px;
	margin-right: 6%;
	margin-left: 6%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: beige;
	text-align: center;
	width: 240px;
}

.ds-single-item-image {
	padding-top: 5em;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.nav-link-item {
	text-decoration: none;
}

.nav-link-item h4:hover {
	color: red;
	transition: all 0.2s ease-in-out;
}

.img-circle {
	border-radius: 50%;
	border: solid 3px #e86a00;
	width: 100px;
	max-width: 100%;
	height: 100px;
	text-align: center;
}

.modal-single-item h3, .modal-single-item h4 {
	color: #0b8d44;
	font-family: Open Sans;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	letter-spacing: 0em;
}

.modal-single-item .slide-div {
	height: 220px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}