.slide-picture {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.header-info {
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: cursive;
	font-size: 1rem;
}
.padding-bottom-col-3 {
	/* padding-bottom: 7px; */
}

.avoid-padding-col-9 {	
	margin-left: -15px;
}

.avoid-padding-col-3 {	
	margin-right: -30px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	/* margin-bottom: 7px; */
}

.avoid-padding-col-9-odd-number {	
	margin-right: -15px;
}

.avoid-padding-col-3-odd-number {	
	margin-left: -30px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	/* margin-bottom: 7px; */
	
}

.single-row-category {
	/* border: 1px solid red; */
	text-align: center;
	margin-left: -30px;
	margin-right: -30px;
}

.category-name {
	padding-top: 12%;
	font-family: cursive;
	color: bisque;
	font-size: 6em;
}

.row-item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: stretch;
	list-style: none;
	/* border-radius: 10px; */
	font-family: cursive;
}

.orange-background {
	background-color: #f47523;
	/* margin-bottom: 7px; */
}

.single-item {
	display: inline-block;
	flex: auto;
	position: relative;
	text-align: center;
	padding-bottom: 15px;
	margin-right: 6%;
	margin-left: 6%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: beige;
	text-align: center;
	width: 180px;
}

@media only screen and (min-width: 1920px) {
	.single-item {
		width: 240px;
	}
}

.ds-single-item-image {
	padding-top: 5em;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.nav-link-item {
	text-decoration: none;
}

.nav-link-item h4:hover {
	color: red;
	transition: all 0.2s ease-in-out;
}

.modal-single-item h3, .modal-single-item h4 {
	color: #0b8d44;
	font-family: Open Sans;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	letter-spacing: 0em;
}

.modal-single-item .slide-div {
	height: 220px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bottom-info {
	padding-top: 1em;
	text-align: center;
	font-family: cursive;
	font-size: 1rem;
	background-color: #f4f3f8;
}

.bottom-image {
	height: 96%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}